.discography-container {
  display: flex;
  justify-content: space-around;
  gap: calc(var(--half) / 2);
  align-items: center;
}

#disc-container {
  width: 350px;
  height: 350px;
  transition: opacity 0.3s, translate 0.3s;
}

#disc-container.htmx-swapping {
  opacity: 0;
}

#disc-container.htmx-settling {
  opacity: 0;
}

#disc-container.left.htmx-swapping {
  translate: 5%;
}

#disc-container.left.htmx-settling {
  translate: -5%;
}

#disc-container.right.htmx-swapping {
  translate: -5%;
}

#disc-container.right.htmx-settling {
  translate: 5%;
}

.disc {
  border: 0;
  width: 100%;
  height: 100%;
}

.discography-buttons {
  width: var(--half);
  height: var(--half);

  polygon {
    fill: var(--blue);
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      fill: var(--grey);
    }
  }
}

@media (max-width: 480px) {
  #disc-container {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 420px) {
  #disc-container {
    display: none;
  }
  .discography-buttons {
    display: none;
  }
}
